[submodule "tramite-legacy"]
	path = tramite-legacy
	url = https://github.com/DavisLCVB/tramite-legacy.git
[submodule "Gestion-certificados-Auditoria"]
	path = Gestion-certificados-Auditoria
	url = git@github.com:jefferson30ao/Gestion-certificados-Auditoria.git
[submodule "SUM-clone-w-vulns"]
	path = SUM-clone-w-vulns
	url = git@github.com:SoySergioSS/SUM-clone-w-vulns.git
